<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div>
		<div class="container-full">
			@RenderBody()
		</div>
		<div class="container-full">
			<hr />
			<footer>
				<span>TeamCity BuildMonitor</span>
				<span id="last-updated" style="float: right">Updated @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>
			</footer>
		</div>
	</div>
    <audio controls>
        <source src="@Url.Action("myaudio")" type="audio/mp3" />
        <p>Your browser does not support HTML 5 audio element</p>
    </audio>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>